<%- include('../partials/header') %>


<div class="row vertical-align main-header-text">
    <h2 class="col-md-12 text-center">냥냥 세상</h2>
</div>
<%- include('../partials/navbar') %>
<div style="height: 13px;"></div>
<%- include('../partials/flash') %>
<%- body %>
<%- include('../partials/footer') %>